<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <register serviceType="Sitecore.Commerce.XA.Foundation.Common.UrlManager.IStorefrontUrlManager, Sitecore.Commerce.XA.Foundation.Common">
        <patch:delete />
      </register>
      <register serviceType="Sitecore.Commerce.XA.Foundation.Common.UrlManager.IStorefrontUrlManager, Sitecore.Commerce.XA.Foundation.Common" implementationType="SitecoreHone.Commerce.XA.Foundation.Common.UrlManager.StorefrontUrlManager, SitecoreHone.Commerce.XA.Foundation.Common" lifetime="Singleton"/>
    </services>
  </sitecore>
</configuration>